//===typo==========================
$base_fs: 16px !default;
$base_lh: 1.428571429;
$base_font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
$accent_font: $base_font;

//===colors========================
$white: #ffffff;
$black: #000000;

$accent_warn: #fada3c;
$accent_dark: $black;
$accent_alert: #ff0000;
$accent_gray: #828282;
$accent_light: #e3f0fa;

//===container=====================
$body_max_width: 1920px;
$gutter: 15px;

//===breaks========================
$breaks: (
    laptop: 1366px,
    laptop-xs: 1280px,
    tablet: 1024px,
    mobile: 767px,
    mobilesm: 575px,
    mobilexs: 479px,
    mobilexxs: 375px,
);

//===container-width========================
$container: (
    desktop: 1330px,
);

//===transition=====================
$transition: linear;

$create-font-face: false !default;
$create-icon-classes: false !default;
