.popup-overlay {
    background: rgba(0, 0, 0, 0.5);
}

.popup-content {
    width: 100%;
    max-width: 500px;
    margin: auto;
    padding: 0.3125rem;
    padding: 10px;

    border: 1px solid #d7d7d7;
    border-radius: 5px;
    background: #fff;
}

.login {
    &_news {
        max-width: 50%;
        margin-right: auto;
        margin-bottom: 20px;
        margin-left: auto;

        @include below(map-get($breaks, mobile)) {
            max-width: 100%;
        }
    }

    &__title {
        margin-bottom: 10px;

        text-align: center;
    }

    &__field {
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 20px;
        }
    }
}

.input {
    position: relative;

    &__field {
        display: block;

        width: 100%;
        height: 40px;
        padding: 0;
        padding-right: 5px;
        padding-left: 5px;

        text-align: center;
        text-transform: inherit;

        color: $accent_dark;
        border: 1px solid transparent;
        border-bottom: 2px solid #e3f0fa;
        border-radius: 0;
        background-color: transparent;
        box-shadow: none;

        font-family: $accent_font;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;

        appearance: none;
        @include transition('color, border-color');
        @include placeholder {
            text-align: center;

            color: $accent_dark;

            font-family: $accent_font;
            font-size: 14px;
            font-weight: 400;
        }
        @include below(map-get($breaks, mobile)) {
            text-align: center;

            @include placeholder {
                text-align: center;
            }
        }
        &:focus {
            border-bottom-color: #ad1457;
        }
    }
    &__error {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;

        padding-right: 5px;
        padding-left: 5px;

        text-align: center;

        color: #ff1744;

        font-size: 12px;
        line-height: 1.3;
    }
}
